body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      
      

    }

    .resume {
      max-width: 600px;
      margin: 30px auto;
      padding: 20px;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: aqua;
    }

    h1 {
      text-align: center;
      color:blue;
    }

    .section {
      margin-bottom: 20px;
    }

    .section h2 {
      margin-bottom: 10px;
      color: blue;
    }

    .section ul {
      margin: 0;
      padding-left: 20px;
    }

    .section li {
      margin-bottom: 5px;
    }

    .section p {
      margin: 0;
    }

    .contact {
      text-align: left;
      float: left;
    }

    .contact p {
      margin: 5px 0;
    }
    .photo{
        float: right;
        
        border: solid;
    }